.gut-block {
    --blockMargin: 80px;
    padding-top: var(--blockMargin);
    padding-bottom: var(--blockMargin);

    &.bg-color-gris {
        background: #f9f9f9;
    }

    &.bg-color-blanc + .gut-block.bg-color-blanc,
    &.bg-color-gris + .gut-block.bg-color-gris {
        margin-top: calc(var(--blockMargin) * -1);
    }
}



/* ==========================================================================
Responsive
========================================================================== */

@media only screen and (min-width: @breakpointTablet) {
    .gut-block {
        --blockMargin: 120px;
    }
}

@media only screen and (min-width: @breakpointLarge) {
    .gut-block {
        --blockMargin: 180px;
    }
}