.popin {
    visibility: hidden;
    opacity: 0;
    padding: 0 20px;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    overflow: auto;
    transition: all .3s ease-in-out;

    &.open {
        visibility: visible;
        opacity: 1;

        .window {
            transform: none;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        opacity: 0.8;
    }

    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin-left: -0.3em;
    }

    .window {
        display: inline-block;
        vertical-align: middle;
        width: 1280px;
        max-width: 100%;
        margin: 30px 0;
        position: relative;
        text-align: left;
        background: #fff;
        transition: inherit;
        transform: translateY(-100px);
    }

    .ville-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        color: #fff;
        background: #000;

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}



/* ==========================================================================
Responsive
========================================================================== */

@media only screen and (min-width: @breakpointTablet) {
    .popin {
    }
}
