.wysiwyg-content {
    font-size: 16px;
    line-height: 1.7em;
    
    p,
    ul,
    ol,
    blockquote,
    h2,
    h3,
    h4 {
        margin-top: 1.7em;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    h2 {
        margin-top: 2em;
        font-weight: bold;
        font-size: 1.5em;
    }
    
    h3 {
        margin-top: 2em;
        font-weight: bold;
        font-size: 1.25em;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus-visible {
        }
    }

    ul li {
        padding-left: 40px;
        position: relative;

        &:before {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            top: 0.65em;
            left: 7px;
            background: currentColor;
        }

        + li {
            margin-top: 0.5em;
        }
    }

    ol {
        list-style: none;
        counter-reset: li;
        
        li {
            counter-increment: li;
            position: relative;
            padding-left: 40px;

            &:before {
                content: counter(li) '.';
                position: absolute;
                top: 0;
                right: calc(100% - 17px);
                font-weight: bold;
            }

            + li {
                margin-top: 0.5em;
            }
        }
    }
    
    blockquote {
        padding-left: 40px;
        border-left: 4px solid #ccc;
    }
}



/* ==========================================================================
Responsive
========================================================================== */

@media only screen and (min-width: @breakpointTablet) {
    .wysiwyg-content {
        font-size: 18px;
    }
}
