:root {
    --gridGutter: 20px;
    --gridLg: ~'min(calc(var(--viewportWidth) - var(--wrapMargin) * 2), calc(var(--wrapLgMax) - var(--wrapMargin) * 2))';
    --colLg: calc(var(--gridLg) - 11 * var(--gridGutter)) / 12;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--gridGutter);

    &.justify-center {
        justify-content: center;
    }
}

.col {
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--gridLg);
}

each(range(12),{
    .col-sm-@{value} {
        width: calc(var(--colLg) * @value + (@value - 1) * var(--gridGutter));
    }
});


/* ==========================================================================
Responsive
========================================================================== */

@media only screen and (min-width: @breakpointTablet) {
    :root {
        --gridGutter: 28px;
    }

    each(range(12),{
        .col-tb-@{value} {
            width: calc(var(--colLg) * @value + (@value - 1) * var(--gridGutter));
        }
    });
}

@media only screen and (min-width: @breakpointMedium) {
    :root {
        --gridGutter: 32px;
    }

    each(range(12),{
        .col-md-@{value} {
            width: calc(var(--colLg) * @value + (@value - 1) * var(--gridGutter));
        }
    });
}

@media only screen and (min-width: @breakpointLarge) {
    each(range(12),{
        .col-lg-@{value} {
            width: calc(var(--colLg) * @value + (@value - 1) * var(--gridGutter));
        }
    });
}
