/* ==========================================================================
Reset
========================================================================== */

*, *:before, *:after { margin: 0; padding: 0; box-sizing: border-box; }

html, button, input, select, textarea { color: #000; font: normal 1em/1.2 Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

audio, canvas, iframe, img, svg, video { max-width: 100%; vertical-align: middle; border: none; }

img { display: inline-block; vertical-align: middle; width: auto; max-width: 100%; height: auto; .unselectable(); }

fieldset { border: 0; margin: 0; padding: 0; }

input, textarea, select, button { outline: none; box-shadow: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="search"],
textarea,
button { -webkit-appearance: none; -moz-appearance: none; outline: none; }

textarea { resize: none; }

input[type="reset"],
input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
}

button { -webkit-tap-highlight-color: transparent; }

a, a:focus { text-decoration: none; }

*:focus { outline: none; }
*:focus-visible { outline: 1px dashed currentColor; }

ul { list-style: none; }

/* ==========================================================================
Helper classes
========================================================================== */

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.invisible { visibility: hidden; }

.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

.clear { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.unselectable {
    -ms-user-select: none; /* From IE10 only */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; /* Not valid CSS yet, as of July 2012 */
    
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}
