// Breakpoints
@breakpointSmall: 375px;
@breakpointTablet: 768px;
@breakpointMedium: 1024px;
@breakpointLarge: 1440px;
@breakpointXXL: 1800px;

@breakpointSmallMax: 374px;
@breakpointTabletMax: 767px;
@breakpointMediumMax: 1023px;
@breakpointLargeMax: 1439px;
@breakpointXXLMax: 1799px;




:root {

    --adminBarHeight: ~'0px';

    // 100vw
    --viewportWidth: calc(100vw - var(--scrollbarWidth));

    // Wrap
    --wrapMargin: 20px;
    --wrapLgMax: 1440px;
    
    // Colors
    

}

body.admin-bar {
    --adminBarHeight: 32px;
}

@media only screen and (max-width: 782px) {
    body.admin-bar {
        --adminBarHeight: 46px;
    }
}


/* ==========================================================================
Responsive
========================================================================== */

@media only screen and (min-width: @breakpointTablet) {
    :root {
        --wrapMargin: 36px;
    }
}

@media only screen and (min-width: @breakpointMedium) {
    :root {
        --wrapMargin: 48px;
    }
}